* {
  padding: 0;
  margin: 0;
}

.outer {
  height: 60px;
  background-color: black;
  padding-top: 20px;
  padding-left: 20px;
}

.ID {
  color: orangered;
  font-size: 25px;
}

.account {
  color: white;
  margin-left: 200px;
}

button {
  color: white;
  background-color: orange;
}

.box {
  margin-left: 100px;
}

.myDiv {
  background-color: rgba(0, 255, 0, 0.5);
  height: 100px;
  width: 100px;
  display: inline-block;
  border: 4px black solid;
  margin-top: 4px;
}

.myFooter {
  background-color: black;
  height: 60px;
  color: orangered;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
