  .container {
    width: 200px;
    height: 150px;
    background-color: #0B2429;
    position: relative;
    overflow: hidden;
  }

  .rectangle {
    width: 100%;
    height: 100%;
    background-color: #268ca0;
  }

  .semicircle {
    width: 100%;
    height: 50%;
    background-color: #35a0b6;
    position: absolute;
    bottom: 0;
    border-radius: 50% 50% 0 0;
  }

